:root {
  --primary-color: #0ab792;
  --secondary-color: #bdbdbd;
  --tertiary-color: #212121;
  --quaternary-color: #ffffff;
  --accent-color-1: #f25f5c;
  --accent-color-2: #70c1b3;
  --accent-color-3: #f9c74f;
}

/* Estilos generales */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif, 'Open Sans';
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
  color: var(--tertiary-color);
}

/* Estilos para los títulos */
h1,
h2 {
  font-family: 'Roboto', sans-serif, 'Open Sans';
  color: var(--tertiary-color);
  text-align: center;
}

/* Estilos para el contenedorES principal */
.container{
  width: 90vw;
  margin: 0 auto;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  color: #333;
}

#container-garment {
  width: 90vw !important;
}

.container2 {
  width: 90vw;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--tertiary-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  align-items: center;
}

/* HEADER */
header {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--quaternary-color);
  border-bottom: 3px solid var(--accent-color-2);
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 2;
}

header .container2 img {
  max-width: 50vw;
  height: auto;
}

.header-content section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

}

.header-content h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0;
  color: var(--quaternary-color);
  text-shadow: 2px 2px #000;
  /* Agrega un efecto de sombra */
}


.title-section {
  background-color: var(--tertiary-color);
  padding: 3rem 0;
}

.vertical-text {
  writing-mode: vertical-lr;
  /* rota el texto verticalmente de izquierda a derecha */
  transform: rotate(-180deg);
  /* gira el texto 180 grados para que quede a un lado */
  position: absolute;
  /* posiciona el texto de forma absoluta para que no afecte al resto del contenido */
  right: 0;
  /* alinea el texto al borde derecho */
  top: 300%;
  /* posiciona el texto en el centro vertical */
  transform-origin: right top;
  /* define el punto de rotación en la esquina superior derecha */

  letter-spacing: 0.5rem;
  max-height: 50vh;
}

.last-name,
.first-name,
.subtitle {
  margin-bottom: 2rem;
}

.title-decor {
  margin-top: 1rem;
}

.circle {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0 1rem;
  background-color: var(--accent-color-2);
  animation: circle-animation 1s ease-in-out infinite alternate;
}

@keyframes circle-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0.5;
  }
}

.circle2 {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin: 0 1rem;
  background-color: var(--accent-color-2);
  animation: circle-animation 1s ease-in-out infinite alternate;
}

@keyframes circle-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0.5;
  }
}




.site-title {

  font-family: 'Montserrat', sans-serif;
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
  position: relative;
  width: 100%;
  word-wrap: break-word;
}

.first-name {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: 1rem;
  overflow: hidden;
  /* Agregado */
}


.last-name {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  /* Agregado */
  white-space: nowrap;
  /* Agregado */
}


.last-name1 {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 500;
  overflow: hidden;
  /* Agregado */
  white-space: nowrap;
  /* Agregado */
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  /* Modificado */
  letter-spacing: 0.4rem;
}


/* .title {
  font-size: 1.3rem;
  margin: 0.5rem 0;
}
 */

/*  NAV */

.navigation {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /*   display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; */
}

.navigation li {
  padding-bottom: 2rem;
}

header nav a {
  color: var(--accent-color-1);
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  margin-left: 1rem;
  transition: color 0.2s ease-in-out;

}


header nav .nav-link {

  font-size: 1.2rem;
  font-weight: 400;
  color: var(--tertiary-color);
  margin: 0 10px;
  padding: 0.5rem;
  transition: color 0.3s ease;
}

header nav .nav-link:hover {
  color: var(--quaternary-color);
}



/* Estilos para las secciones */
.section {
  padding: 2rem 0;
  width: 100%;
}

/* Estilos para el contenedor principal */

.section-title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 20px 0;
}

/* .section-title1 {
  color: var(--quaternary-color);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 20px 0;
} */

/* .nav-link {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  margin: 0 10px;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #333;
}  */


/* Estilos para el botón de idioma */
#english-button {
  border: none;
  background-color: transparent;
  color: var(--quaternary-color);
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 30px;
}

#english-button:hover {
  color: var(--quaternary-color);
}

/* Estilos para la sección "Inicio" */
.home-section {
  background-color: var(--tertiary-color);
  color: var(--quaternary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.home-section p,
.about-section p {
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}

.home-section .card {
  box-shadow: 0px 2px 5px 1px rgba(255, 255, 255, 0.2);
}

/* Estilos para la sección "Acerca de mí" */
.about-section {
  background-color: var(--quaternary-color);
  color: var(--tertiary-color);
}

.about-section ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--tertiary-color);
}

.about-section ul li {
  margin: 0 10px;
}

.about-section ul li a {
  color: var(--);
  font-size: 1.2rem;
  transition: color 0.2s ease-in-out;
  color: var(--quaternary-color);

  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.about-section ul li a:hover {
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
}

.about-section ul li i {
  margin-right: 5px;
}

/* ///// Estilos para la sección "PORTAFOLIO" ///// */
.portfolio-section {
  background-color: var(--accent-color-2);
  color: var(--tertiary-color);
  display: flex;
  flex-wrap: wrap;
  /* align-items: center;
justify-content: center; */
}

.container-port {
  max-width: 90vw;
  margin: 0 auto;
  padding: 1rem;
}

.portfolio-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}


.portfolio-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
}

.portfolio-item {
  flex-basis: calc(33.33% - 20px);
  flex-grow: 1;
  margin: 10px;
  background-color: var(--quaternary-color);
  color: var(--tertiary-color);
  padding: 1rem;
  text-align: center;
}

.portfolio-item a {
  color: var(--secondary-color);
  transition: color 0.2s;
}

.portfolio-item a:hover {
  color: var(--quaternary-color);
}

.portfolio-item p {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.02rem;
}

.portfolio-section .text-header,
.clothing-section .text-header {
  text-align: left;
  font-size: 1.5rem;
  padding-left: 1rem;
  font-weight: 400;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

.portfolio-section .tags,
.clothing-section .tags {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 0;
}

.portfolio-section .tags li,
.clothing-section .tags li {
  margin: 0.25rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 0.5rem;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

.portfolio-section .section-description {
  font-size: 1.2rem;
  font-weight: 600;
}


/* elementos de la lista PORTFOLIO */
.portfolio-section ul {
  list-style-type: none;
}

.portfolio-section li a {
  display: block;
  color: var(--tertiary-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.portfolio-section li a:hover {
  background-color: var(--secondary-color);
}

.portfolio-section .keyword {
  font-style: italic;
}

/*
TIENDA */

#tienda {
  background-color: var(--quaternary-color);
  color: var(--tertiary-color);
  padding: 2rem 0;
}

#tienda .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* #tienda h2 {
font-size: 2.5rem;
margin-bottom: 2rem;
} */

#tienda img {
  max-width: 100%;
  height: auto;
}

#tienda .subheading {
  font-size: 1.5rem;
  margin-top: 2rem;
}

#tienda .row p {
  font-size: 1.1rem;
  margin: 1.5rem 0;
  font-weight: 400;
}

/* botones */
.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tienda .btn {
  margin-top: 2rem;
}

#tienda .btn-primary {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  border-color: var(--primary-color);
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
}

#tienda .btn-primary:hover {
  background-color: #0e8a6f;
}

#tienda .btn-secondary {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border-color: var(--secondary-color);
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;

}

#tienda .btn-secondary:hover {
  background-color: #a5a5a5;
}

#tienda .btn-accent-1 {
  background-color: var(--accent-color-1);
  color: var(--quaternary-color);
  border-color: var(--accent-color-1);
}

#tienda .btn-accent-2 {
  background-color: var(--accent-color-2);
  color: var(--quaternary-color);
  border-color: var(--accent-color-2);
}

#tienda .btn-accent-3 {
  background-color: var(--accent-color-3);
  color: var(--quaternary-color);
  border-color: var(--accent-color-3);
}



/* ///// Estilos para la sección "TIENDA" ///// */
.shop-section {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  display: flex;
  flex-wrap: wrap;
}

.container-shop {
  max-width: 90vw;
  margin: 0 auto;
  padding: 1rem;
}

.shop-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.shop-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.shop-item {
  width: calc(33.33% - 20px);
  margin: 10px;
  background-color: var(--quaternary-color);
  color: var(--tertiary-color);
  padding: 1rem;
  text-align: center;
}

.shop-item a {
  color: var(--tertiary-color);
  transition: color 0.2s;
  text-decoration: none;
}

.shop-item a:hover {
  color: var(--primary-color);
}

.shop-item h4 {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02rem;
}

.shop-item p.price {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin: 1rem 0 0.5rem 0;
}

.section-description {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container a {
  display: inline-block;
  padding: 12px 20px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.button-container a:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.button-container a.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.button-container a.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}


/* /////////// ROPA DISEÑOS (/////////// */



/* Clothing section */
.clothing-section {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 6rem;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .container-clothing {
  margin: 3rem 0;
  padding: 0 15px;
  text-align: center;

  }

  .text-header {
  margin-top: 0;
  }

  .tags {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0;
  padding: 0;
  }

  .tags li {
  margin: 0.5rem;
  background-color: #eee;
  padding: 0.5rem;
  border-radius: 4px;
  }

  .clothing-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  }

  .clothing-item {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  border-radius: 4px;
  overflow: hidden;
  }

  .clothing-item img {
  display: block;
  width: 100%;
  height: auto;
  }

  .clothing-item h3 {
  margin: 1rem;
  font-size: 1.5rem;
  }

  .clothing-item p {
  margin: 0 1rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  }


/* ////// Estilos para la sección "CONTCACTO" ///// */
.contact-section {
  background-color: var(--quaternary-color);
  color: var(--tertiary-color);
}

.section-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 20px 0;
}

/* Estilos para el formulario de contacto */
.contact-section form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

form label,
form input,
form textarea,
form button {
  font-size: 1rem;
  margin: 5px 0;
  padding: 10px;
  width: calc(100% - 20px);
  /* 20px de margen */
  border: none;
  resize: none;
  border-radius: 5px;
  background-color: var(--quaternary-color);
  color: var(--tertiary-color);
  transition: background-color 0.2s ease-in-out;
}

form input[type="text"],
form input[type="email"],
form textarea {
  border: 2px solid var(--secondary-color);
  border-radius: 4px;
}

form label {
  font-weight: bold;
}

form input:focus,
form textarea:focus {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
}

form input[type="submit"] {
  font-size: 14px;
  font-weight: 400;
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

form input[type="submit"]:hover {
  background-color: var(--primary-color);
}

/* Estilos para la lista de redes sociales */
.social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-item {
  list-style: none;
  padding: 0 1rem;
}

.social-media-item a {
  color: #999;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  transition: color 0.2s;
}

.social-media-item a:hover {
  color: var(--primary-color);
}

.social-media-item i {
  font-size: 1.5rem;
}

/* FOOTER */
footer {
  background-color: var(--tertiary-color);
  color: var(--quaternary-color);
  padding: 1rem;
  text-align: center;
  flex-direction: column;
}

footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0;
}

footer ul li a {
  color: var(--);
  font-size: 1.2rem;
  transition: color 0.2s ease-in-out;
  /* padding: 10px; */
}

footer li a:hover {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  border-radius: 0.5rem;
}

footer ul li i {
  margin-right: 5px;
}

.copyright {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #999;
  margin: 20px 0;
}

.error {
  color: red;
  font-weight: 500;
  margin-top: 10px;
}

#menu-toggle {
  display: none;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem;
  display: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.6rem;
  width: 100%;
  height: auto;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

#menu-toggle:hover {
  transform: scale(1.04);
  background-color: var(--tertiary-color);
  color: var(--quaternary-color);
}

#menu a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-left: 20px;

}

#menu a:hover {
  color: var(--accent-color-2);
  transform: scale(1.1);
}

/* Estilos para el botón de menú */
/* .menu-btn {
  border: none;
  background-color: transparent;
  color: var(--tertiary-color);
  font-size: 1.2rem;
  cursor: pointer;
  margin-left:20px;
}

.menu-btn:hover {
color: var(--accent-color-2);
}
 */

/* Media query*/
@media (max-width: 489px) {
  .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-template-columns: none;
    grid-template-rows: auto;
    width: 100%;
    padding: 0;
    margin: 0;
  }


  header .container2 img {
    max-width: 100%;
    margin-top: 20px;
  }

  .header-content section {
    margin-bottom: 10px;

  }

  .navigation {
    justify-content: center;
    margin-top: 20px;
  }

  .navigation ul {
    flex-direction: column;
    align-items: center;
  }

  .navigation li {
    margin: 10px 0;
  }

  #menu-toggle {
    margin-top: 20px;
  }

  .portfolio-item img {
    width: 100%;
  }

  .container-port {
    width: 100%;
  }

  .social-media-list,
  .shop-list {
    flex-wrap: wrap;
  }

  .social-media-item,
  .shop-item {
    width: 100%;
    padding: 0.5rem;
  }

  .social-media-item i {
    font-size: 1rem;
  }

  .about-section ul li a,
  footer ul li a {
    font-size: 1rem;
  }

  .about-section ul,
  footer ul {
    flex-direction: column;
  }

  .about-section img {
    max-width: 100%;
    height: auto;
  }

  #menu-toggle {
    display: block;
    background-color: var(--secondary-color);
  }

  #menu:not(.menu-hidden) {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--tertiary-color);
    padding: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 10px rgba(160, 180, 135, 0.3);
    transition: all 0.5s ease-in-out;
    width: 100%;
  }

  #menu:not(.menu-hidden) a,
  #menu:not(.menu-hidden) i {
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    transition: background-color 0.3s;
  }

  #menu:not(.menu-hidden) a:hover,
  #menu:not(.menu-hidden) i:hover {
    background-color: var(--primary-color);
    color: var(--quaternary-color);
  }

  #english-buttom {
    width: 100%;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 2;
  }

  .header-content section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }


  .clothing-item{
    flex-basis: 100%;
  }

  header {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .container {
    width: 100%;
  }

  .container-shop {
    max-width: 90%;
  }
  .shop-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .shop-item img {
    width: 100%;
    height: auto;
  }

}

@media (max-width: 600px) {
  .portfolio-item {
    flex-basis: 100%;
    margin: 10px 0;
    grid-template-columns: repeat(1, 1fr);
  }

  .container-port {
    width: 100%;
  }

  .about-section ul li a,
  footer ul li a {
    font-size: 1rem;
    display: block;
    text-align: center;
    margin: 0.5rem;
  }

  .social-media-list {
    flex-wrap: wrap;
    text-align: center;
  }

  .social-media-item {
    width: 100%;
    padding: 0.5rem;
  }

  .social-media-item i {
    font-size: 1rem;
  }

  .about-section ul,
  footer ul,
  .menu-hidden {
    flex-direction: column;
  }

  .about-section img {
    max-width: 100%;
    height: auto;
  }

  #menu-toggle {
    display: block;
    background-color: var(--secondary-color);
  }

  #menu:not(.menu-hidden) {
    display: block;
  }

  #menu:not(.menu-hidden) {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--tertiary-color);
    padding: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 10px rgba(160, 180, 135, 0.3);
    transition: all 0.5s ease-in-out;
  }

  #menu:not(.menu-hidden) a,
  #menu:not(.menu-hidden) i {
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    transition: background-color 0.3s;
  }

  #menu:not(.menu-hidden) a:hover,
  #menu:not(.menu-hidden) i:hover {
    background-color: var(--primary-color);
    color: var(--quaternary-color);
  }

  #english-buttom {
    width: 100%;
  }

  .clothing-item {
    flex-basis: 100%;
  }
}

@media (max-width: 767px) {
  .portfolio-item img {
    width: 100%;
  }

  .container-port {
    width: 100%;
  }

  .social-media-list {
    flex-wrap: wrap;
  }

  .social-media-item {
    width: 100%;
    padding: 0.5rem;
  }

  .social-media-item i {
    font-size: 1rem;
  }

  .about-section ul li a,
  footer ul li a {
    font-size: 1rem;
  }

  .about-section ul,
  footer ul {
    flex-direction: column;
  }

  .about-section img {
    max-width: 100%;
    height: auto;
  }

  #menu-toggle {
    display: block;
    background-color: var(--secondary-color);
  }

  .menu-hidden {
    display: none;
  }

  #menu:not(.menu-hidden) {
    display: block;
  }

  #menu:not(.menu-hidden) {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--tertiary-color);
    padding: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 10px rgba(160, 180, 135, 0.3);
    transition: all 0.5s ease-in-out;
  }

  #menu:not(.menu-hidden) a,
  #menu:not(.menu-hidden) i {
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    transition: background-color 0.3s;
  }

  #menu:not(.menu-hidden) a:hover,
  #menu:not(.menu-hidden) i:hover {
    background-color: var(--primary-color);
    color: var(--quaternary-color);
  }

  #english-buttom {
    width: 100%;
  }

  .clothing-item {
    flex-basis: calc(50% - 10px);
    }

    .container-shop {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    .shop-item {
      width: 100%;
      margin: 0;
    }

    .shop-item a {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .shop-item h4 {
      margin-top: 20px;
    }
}